@import '_variables';
@import '_mixins';

@a:      1;
@border: 2px;

/////////////////////////////
//         searcher        //
/////////////////////////////

@searcherWidth:      400px;
@searcherLineHeight: 24px;

.luna-node__name,
.luna-node__expression {
    min-height: calc(@ui ~'*' @luna-line-height);
}

.luna-searcher {
    z-index:  @luna-zindex-searcher;
    position: absolute;
}
.luna-studio-window--has-searcher {
    .luna-studio-window__center {
        //z-index: @luna-zindex-searcher;
    }
}


.luna-searcher__body {
    width: 0;
}

.luna-searcher--node ~ .luna-node--selected {
    .luna-node__expression {
        display: none;
    }
}

.luna-searcher--node-name {
    &+.luna-ctrl-icon {
        display: none;
    }
    .luna-searcher__input {
        .background(@a); //@luna-syntax-background-color;
        border:     calc(@ui ~'*' 2px) solid @luna-graph-background-color;
        top:        calc(@ui ~'*' -7px);
        position:   relative;
    }
}

.luna-searcher__preview {
    display: none;
}

.luna-searcher__input,
.luna-node__name--input {
    background:     transparent;
    border-radius:  @borderRadius;
    color:          @luna-syntax-text-color;
    font-family:    @fontDefault;
    font-size:      calc(@ui ~'*' 12px);
    font-weight:    300;
    height:         calc(@ui ~'*' 24px);
    line-height:    calc(@ui ~'*' 24px);
    letter-spacing: 0.5px; // Matching Atom styles. TODO: Apply to the whole graph?
    overflow:       inherit;
    text-align:     center;
    transform:      translateX(-50%);
    &:focus {
        outline: 0;
    }
}

.luna-node__expression {
    .luna-searcher__input {
    	@padding: 6px;
        .outlineStroke;
        .background(@a);
        padding:    0 @padding;
        transform:  translate(-50%,calc(@ui ~'*' -4px));
        width:      calc(@ui ~'*' @searcherWidth - 2*@padding);
    }
}

.luna-searcher__results {
    bottom:         calc(@ui ~'*' 28px);
    display:        flex;
    flex-direction: column-reverse;
    position:       absolute;
    left:           calc(@ui ~'*' (-@searcherWidth/2));
    width:          calc(@ui ~'*' @searcherWidth);
    text-align:     center;
    border-radius:  @borderRadius;
    //overflow:       hidden; fix this
    padding:        0;
    .background(@a);
    max-height:     calc(@ui ~'*' (@searcherLineHeight*10));
    border:         calc(@ui ~'*' @border) solid @luna-graph-background-color;
    transform:      translateX(-@border);
}

.luna-searcher__results__item {
    line-height: calc(@ui ~'*' @searcherLineHeight);
}
.luna-searcher__results__item--selected {
    .background(@a+1);
    @color(@a+5);
    .luna-searcher__hl {
        color: #fff;
        opacity: 1;
    }
}
.luna-searcher__results__item::before {
    position: absolute;
    left:     calc(@ui ~'*' 4px);
    opacity:  .5;
}
.luna-searcher__results__item:nth-of-type(1)::before { content: "⌘1" }
.luna-searcher__results__item:nth-of-type(2)::before { content: "⌘2" }
.luna-searcher__results__item:nth-of-type(3)::before { content: "⌘3" }
.luna-searcher__results__item:nth-of-type(4)::before { content: "⌘4" }
.luna-searcher__results__item:nth-of-type(5)::before { content: "⌘5" }
.luna-searcher__results__item:nth-of-type(6)::before { content: "⌘6" }
.luna-searcher__results__item:nth-of-type(7)::before { content: "⌘7" }
.luna-searcher__results__item:nth-of-type(8)::before { content: "⌘8" }
.luna-searcher__results__item:nth-of-type(9)::before { content: "⌘9" }
.luna-searcher__results__item:nth-of-type(10)::before{ content: "⌘0" }

.luna-searcher__pre,
.luna-searcher__pre + span {
    height:     calc(@ui ~'*' @searcherLineHeight);
    display:    block;
    text-align: left;
    width:      50%;
    float:      left;
}
.luna-searcher__pre {
    opacity: .5;
    text-align: right;
}
.luna-searcher__pre + span::before {
    content: ".";
    opacity: 0;
}
.luna-searcher__hl {
    color: #dff;
    opacity: 0.7;
}

// doc

.luna-searcher__doc {
	background: red;
	position:   absolute;
	top:        0;
	left:       calc(@ui ~'*' @searcherWidth + 2px);
	height:     calc(@ui ~'*' @searcherLineHeight*10);
	width:      calc(@ui ~'*' @searcherWidth/2);
}
