@import "syntax-variables";

/////////////////////////////
//          fonts          //
/////////////////////////////

@fontDefault:         'hasklig-regular', 'hasklig', monospace;

/////////////////////////////
//         colors          //
/////////////////////////////

@luna-syntax-background-color: @syntax-background-color;
@luna-graph-background-color:  darken(@luna-syntax-background-color,10%); //#181b1f;

@luna-syntax-text-color:       @syntax-text-color;
@luna-text-color:              @syntax-text-color;

.backgroundBase() {
    background: @luna-graph-background-color;
}

.shade(@t; @j) {
    @{t}: lighten(@luna-graph-background-color, @j * 8%);
}
.textShade(@t; @j) {
    @{t}: fade(@luna-syntax-text-color, @j * 8%);
}

.background(@n, @i:1, @j:1) when (@i =< @n) {
    .print() when (@n = @i) { .shade(background, @j) }
    .background(@n, (@i + 1), (@j * 1.44));
    .print;
}
.color(@n, @i:1, @j:1) when (@i =< @n) {
    .print() when (@n = @i) { .textShade(color, @j) }
    .color(@n, (@i + 1), (@j * 1.44));
    .print;
}
.fill(@n, @i:1, @j:1) when (@i =< @n) {
    .print() when (@n = @i) { .shade(fill, @j) }
    .fill(@n, (@i + 1), (@j * 1.44));
    .print;
}
.stroke(@n, @i:1, @j:1) when (@i =< @n) {
    .print() when (@n = @i) { .shade(stroke, @j) }
    .stroke(@n, (@i + 1), (@j * 1.44));
    .print;
}

@colorTextMinor:       #68858a;

@colorSelect:          orange;
@colorText:            #ccc;
@colorTextHighlighted: #fff;
@colorTextUneditable:  darken(@colorText, 50%);
@colorTextDisabled:    darken(@colorText, 80%);

@colorTextEdited:      darken(@colorText, 50%);
@colorTextNotEdited:   darken(@colorText, 50%);
@colorTextNotSet:      darken(@colorText, 80%);

@colorName:            @colorText;

@colorNodeBackground:          #21252a;

@colorBreadcrumbs:             @colorNodeBackground;
@colorBreadcrumbsText:         @colorText;
@colorBreadcrumbsTextInactive: #888;

@colorSearcherResultsBackground: @luna-syntax-background-color;
@colorSearcherResultsSelected:   #3a414a;

/////////////////////////////
//           grid          //
/////////////////////////////

@gridSize:            16rem;
@lineHeight:          @gridSize;
@borderRadius:        3rem;
@borderRadiusPx:      3px;

/////////////////////////////
//           grid          //
/////////////////////////////

@expandedNodeWidth:   160rem;
@expandedNodeWidthPx: 160px;
@expandedNodePadding: 12rem;

/////////////////////////////
//        animation        //
/////////////////////////////

@transitionSpeed:     60ms;
@selectionSpeed:     100ms;
@colorSpeed:         120ms;

/////////////////////////////
//          other          //
/////////////////////////////

@strokeWidth:        2.6rem;
