@grid:           16px; // Grid size

@background: #171615;
@input-height:   2*@grid;
@border-radius:  @grid/2;
@tile-size:      172px;
@caption-height: @grid*2;

atom-panel.modal.overlay.from-top::before { // TODO: Make it more specific - use a global class?
	background-color: #000;
}

.luna-welcome-scroll {
	position:   fixed !important;
	top:        0;
	bottom:     0;
	overflow-y: scroll;
	overflow-x: hidden;

}

.luna-welcome {
	border-radius: @border-radius;
	padding:       @grid;
	margin:        3*@grid @grid;
	background:    @background;
	width:         580px;
	left:         -@grid;
	position:      relative;
	overflow:      visible;
}

.luna-welcome__body {
	width:         110%;
}

.luna-welcome__title {
	font-weight: 100 !important;
	font-size:   32px !important;
	line-height: 64px;
	text-align: center;
}

.luna-welcome__header {
	text-align: center;
	margin-bottom: @grid*1;
}
.luna-welcome__header__menu {
	margin-bottom: 2*@grid;
	overflow-y: hidden;
}
.luna-welcome__header__menu__links {
	float: right;
}
.luna-welcome-link {
	@a: 2px;
	@b: rgba(255,255,255,0.1);

	border-radius: 1000px;
	line-height:   @input-height - @a;
	border-bottom: @a solid transparent;
	display:       inline-block;
	background:    @b;
	margin-left:   @grid/2;
	width:         80px;
}

.luna-welcome-search {
	@bg: #000;

	border-radius: 1000px;
	background:    @bg;
	height:        @input-height;
	border-bottom: 2px solid @bg;
	padding:       0 @grid;
	width:         50%;
	float:         left;
}

.luna-welcome__section__container {
	width:           100%;
	display:         flex;
	flex-wrap:       wrap;
	justify-content: flex-start;
	align-content:   flex-start;
}

.luna-welcome__tile {
	width:  @tile-size !important;
	height:       @tile-size + @caption-height;
	position: relative;
	margin-right: @grid;
	margin-bottom: @grid;
}

.luna-welcome__section__title {
	font-weight: 100;
	opacity: 1;
	&::before {
		opacity: 0.8;
	}
}

.luna-project-logo {
	border-radius: @border-radius;
	background: rgba(255,255,255,0.05);
	overflow: hidden;
	width: @tile-size;
	height: @tile-size;

}
.luna-project-caption {
	height:      @caption-height;
	line-height: @caption-height; 
	text-align:  center;
	text-overflow: ellipsis;
	overflow: hidden;
}
