bower_components/*
public/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.idea

pids
logs
results

node_modules
npm-debug.log
dist
www
cabal.sandbox.config
.cabal-sandbox
public

node-editor/features.local.js
node-editor/config.local.js
brunch-config.local.coffee

atom/styles/app.css
atom/*.backup

*.js_o
*.js_hi
.autoenv.zsh
.stack-work
lib/common.cabal
text-editor/text-editor.cabal
node-editor/node-editor.cabal
node-editor-view/luna-node-editor-view.cabal

.config-luna.yaml
.config.luna
