"*":
  core:
    automaticallyUpdate: false
    destroyEmptyPanes: true
    disabledPackages: [
      "deprecation-cop"
      "dev-live-reload"
      "hidpi"
      "linter-ui-default"
      "linter"
      "welcome"
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    themes: [
      "luna-dark-ui"
      "luna-syntax"
    ]
  editor:
    fontFamily: ""
    fontSize: 12
    scrollPastEnd: true
    tabLength: 4
  "exception-reporting":
    userId: "f639c0b1-9215-40ac-b370-30477aef0fc7"
  hidpi:
    scaleFactor: 1.4
  "highlight-line": {}
  "linter-ui-default":
    panelHeight: 52
    showPanel: true
  "luna-dark-ui":
    baseColor: "#000000"
    fontSize: 20
    someSetting2: "#ff00000"
  "luna-dpi":
    zoom: 1.0
  minimap:
    displayMinimapOnLeft: true
    minimapScrollIndicator: false
    plugins:
      codeglance: false
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui":
    fontSize: 20
  "package-generator":
    packageSyntax: "coffeescript"
  "status-bar": {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
