root {
    path     = "$(LUNAROOT)"
    conf     = "$(root.path)/config"
    bin      = "$(root.path)/bin"
}

projects {
    projectRoot = "/var/lib/app/nodelab/projects"
}

bus {
    serverControlEndPoint = "tcp://*:30530"
    serverPullEndPoint    = "tcp://*:30531"
    serverPubEndPoint     = "tcp://*:30532"
    clientControlEndPoint = "tcp://127.0.0.1:30530"
    clientPullEndPoint    = "tcp://127.0.0.1:30531"
    clientPubEndPoint     = "tcp://127.0.0.1:30532"
}
